html {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}
h1 {
  font-size: 70px;
}
a {
  font-size: 18px;
  font-weight: normal;
  color: white;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
p {
  font-size: 14px;
  font-weight: normal;
}
#home, #designNY{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
.footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
  color: white;
}
